// Generic html styles used across the App
// component specific styling should go in the component scss file

*::selection {
  background-color: black; //teal-3;
  color: black; //white;
}

html {
  @include font-sans;

  font-size: 14px;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;

  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  cursor: default;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
}

p {
  font-size: var(--font-body);
}

ul,
ol {
  list-style: initial;

  li {
    list-style-position: outside;
    margin: var(--spacing-medium);
    margin-bottom: 0;
  }
}

.ul--no-style {
  list-style: none;
  margin-bottom: 0;

  li {
    margin: 0;
  }
}

dl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: visible;
  margin-top: var(--spacing-medium);
}

dt {
  flex-basis: 40%;
  text-align: left;
  font-weight: bold;
}

dd {
  flex-basis: 55%;
  flex-grow: 1;
  margin: 0;
  text-align: right;
}

dt,
dd {
  padding: var(--spacing-medium) var(--spacing-small);

  border-top: 1px solid black; //gray-1;

  &:last-of-type {
    border-bottom: 1px solid black; //gray-1;
  }
}

input,
label {
  user-select: none;
}

blockquote {
  margin-bottom: 1rem;
  padding: 0.8rem;
  background-color: black; //black; //cyan-1, 0.1);
  border-left: 0.5rem solid black; //cyan-5;
}

code {
  @include font-mono;
  background-color: black; //gray-1;
  font-size: 1.5rem;
}

hr {
  width: 100%;
  height: 1px;
  background-color: var(--color-border);
}

img,
a {
  -webkit-user-drag: none;
}

.columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  > * {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 15rem;
    margin-bottom: var(--spacing-large);

    &:first-child {
      margin-right: 1.5rem;
    }
  }
}

.divider__horizontal {
  border-top: black; //gray-2;
  margin: 16px 0;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.column {
  display: flex;

  .column__item:not(:first-child) {
    padding-left: $spacing-width * 2/3;
    flex: 1;
  }
}

.truncated-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.busy-indicator__loader {
  min-width: 16px;
  min-height: 8px;
  margin: -1rem 0;
  padding: 0 30px;

  background: url('../../../static/img/busy.gif') no-repeat center center;
  display: inline-block;
  vertical-align: middle;

  &:first-child {
    padding-left: 2px;
  }

  &:last-child {
    padding-right: 2px;
  }
}

.card {
  .help:last-child {
    margin-bottom: 0;
  }
}

.help {
  display: block;
  font-size: var(--font-label);
  color: var(--color-text-help);
  margin-top: var(--spacing-small);
}

.help--warning {
  background-color: var(--color-text-warning--background);
  color: var(--color-text-warning);
}

.empty {
  color: var(--color-text-empty);
  font-style: italic;
}

.qr-code {
  width: 134px;
  height: 134px;
  border: 3px solid black; //white;

  &.qr-code--right-padding {
    margin-right: $spacing-vertical * 2/3;
  }

  &.qr-code--top-padding {
    margin-top: $spacing-vertical * 2/3;
  }
}

.error-text {
  color: var(--color-text-error);
}

.thumbnail-preview {
  width: var(--thumbnail-preview-width);
  height: var(--thumbnail-preview-height);

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
