[theme='light'] {
  // // --color-primary: var(--lbry-teal-4);
  // // --color-primary-dark: #008769;
  // // --color-primary-dark: #007e5d;
  // // --color-primary-light: #e3f6f1;
  // --color-primary-variant: #e8ecff;
  // --color-secondary-2: #a9a3aa;
  // --color-secondary-3: #acbcfd;
  // --color-secondary-light: #f8f9ff;
  // --color-secondary-dark: #272e49;

  --color-link-icon: var(--color-gray-5);
  --color-link-active: var(--color-primary);

  // Color
  --color-background: #f7f7f7;
  --color-border: #ededed;
  --color-background-overlay: #21252980;

  --color-text-error: var(--color-danger);
  --color-text-empty: #bbbbbb;
  --color-text-help: #767676;
  --color-text-subtitle: #767676;
  --color-text-warning: #212529;
  --color-text-warning--background: var(--lbry-yellow-1);

  /* Generic */
  --color-box-shadow: #c4c4c4;
  --color-placeholder-background: #f0f0f0;

  /* Header */
  --color-header-background: #ffffff;

  /* Card */
  --color-card-background: #ffffff;
  --color-card-background-highlighted: var(--color-secondary-light);
  --color-list-header: #fff;

  /* Loading/Empty */
  --color-spinner-light: #5a6570;
  --color-spinner-dark: #212529;

  /* Input */

  /* Menu */
  --color-menu-background: #434b53;
  --color-menu-background--selected: #2c3237;
  --color-menu-background--active: #4e5862;

  /* Content */
  --color-file-viewer-background: #212529;

  /* Tabs */
  --color-tabs-background: var(--color-secondary-dark);

  /* Search */
  --color-search-suggestion: #212529;
  --color-search-suggestion-background: #cce6fb;
}
