@import '~@lbry/components/sass/badge/_index.scss';

.badge {
  vertical-align: middle;
  white-space: nowrap;
}

.badge--tag {
  @extend .badge;
  background-color: var(--color-tag-background);
  color: var(--color-link);
  border: 1px solid var(--color-tag-border);

  svg {
    stroke: var(--color-tag-action);
  }
}

.badge--alert {
  @extend .badge;
  background-color: $lbry-red-2;
  color: $lbry-white;
}

.badge--mature {
  @extend .badge--tag;
  background-color: var(--color-tag-mature-backgroun);
}
