.button {
  svg {
    // Buttons that don't have a label
    &:only-child {
      color: inherit;
      width: 1.3rem;
      height: 1.3rem;
    }
  }
}

.button--alt {
  padding: 0;
}

.button--uri-indicator {
  max-width: 100%;
  height: 1.2em;
  vertical-align: text-top;
  text-align: left;
  text-overflow: ellipsis;
  transition: color 0.2s;

  &:hover {
    color: black; //teal-5;
  }

  .markdown-preview & {
    height: initial;
    vertical-align: initial;
  }
}

.button--close {
  position: absolute;
  top: var(--spacing-miniscule);
  right: var(--spacing-miniscule);
  padding: 0.3rem;
  transition: all var(--transition-duration) var(--transition-style);
  border-radius: var(--card-radius);

  &:hover {
    background-color: black; //black;
    color: black; //white;
  }
}

.button--subscribe {
  vertical-align: text-top;
  align-items: flex-start;
}

// Quick fix because this is a pain
// There is something weird with wrapping buttons. Some places we want to wrap and others we want to ellips
// Probably requires some nested style cleanup
.button--download-link {
  .button__label {
    white-space: normal;
    text-align: left;
  }
}

.button__content {
  display: flex;
  align-items: center;
  min-width: 0;
  height: 100%;
}

.button__label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Handle icons on the left or right side of the button label
svg + .button__label,
.button__label + svg {
  margin-left: var(--spacing-small);
}
