@import '~@lbry/components/sass/form/_index.scss';

// Reset lbry components style that turns buttons inside of forms black
form {
  .button--primary,
  [type='submit'] {
    &:not(:hover),
    &:hover {
      @extend .button--primary;
    }
  }

  .button--inverse {
    &:not(:hover),
    &:hover {
      @extend .button--inverse;
    }
  }
}

// lbry/components overrides and minor styles
// Some items have very specific styling
// This is because many styles inside `lbry/components/sass/form/` are very specific
// As styles become hardened here, they _should_ slowly move over to that repo

input-submit {
  align-items: center;
}

input[type='number'] {
  width: 8em;
}

input,
input[type='text'],
input[type='number'],
input[type='email'],
select,
textarea {
  height: var(--input-height);
  padding-bottom: 0.1em;

  &::placeholder {
    color: var(--color-input-placeholder);
    opacity: 0.4;
  }
}

// @lbry/components specificityfixme
fieldset-section label,
checkbox-element input[type='checkbox']:checked + label,
checkbox-element input[type='checkbox'] + label {
  color: var(--color-text);
}

fieldset-section {
  margin: 0;

  input,
  input[type='text'],
  input[type='number'],
  input[type='email'],
  input[type='password'],
  select,
  textarea {
    border-color: var(--color-input-border);
    border-radius: var(--input-border-radius);
    background-color: var(--color-input-background);
    border-width: 1px;

    &:focus {
      border-color: var(--color-input-border-active);
    }
  }

  label {
    width: auto;
    text-transform: none;
  }

  &:not(:first-of-type) {
    checkbox-element,
    radio-element {
      margin-top: var(--spacing-small);
    }
  }
}

checkbox-element {
  &[disabled='true'] {
    opacity: 0.3;
  }
}

checkbox-element,
radio-element,
fieldset:last-child,
fieldset-section:last-child {
  margin-bottom: 0;
}

checkbox-element,
radio-element {
  &:hover {
    cursor: pointer !important;
  }

  label {
    margin-bottom: 0;
    margin-left: var(--spacing-miniscule);
    font-size: var(--font-body);
  }
}

checkbox-toggle {
  border-width: 1px;
  border-radius: var(--input-border-radius);

  &:before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all 0.2s;
  }
}

fieldset-group {
  margin-top: var(--spacing-small);

  &.fieldset-group--smushed {
    justify-content: flex-start;

    fieldset-section {
      width: auto;
      margin-bottom: 0;

      &:first-child {
        input,
        select {
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      &:nth-of-type(2) {
        input,
        select {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    &.fieldgroup--paginate {
      padding-bottom: var(--spacing-large);
      margin-top: var(--spacing-large);
      align-items: flex-end;
      justify-content: center;
    }
  }

  // This is a special case where the prefix appears "inside" the input
  // It would be way simpler to just use position: absolute and give it a width
  // but the width can change when we use it for the name prefix
  // lbry:// {input}, lbry://@short {input}, @lbry://longername {input}
  // The spacing/alignment isn't very robust and will probably need to be changed
  // if we use this in more places
  &.fieldset-group--disabled-prefix {
    align-items: flex-end;

    label {
      min-height: 18px;
      white-space: nowrap;
      // Set width 0 and overflow visible so the label can act as if it's the input label and not a random text node in a side by side div
      overflow: visible;
      width: 0;
    }

    fieldset-section:first-child {
      .form-field__prefix {
        white-space: nowrap;
        padding: 0.2rem;
        padding-left: 0.5rem;
        height: var(--input-height);
        padding-right: 0;
        border: 1px solid;
        border-top-left-radius: var(--input-border-radius);
        border-bottom-left-radius: var(--input-border-radius);
        border-right: 0;
        border-color: var(--color-input-border);
        color: var(--color-input-placeholder);
        background-color: var(--color-input-background);
      }
    }

    fieldset-section:last-child {
      width: 100%;

      input {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-left: var(--spacing-xs);
        border-color: var(--color-input-border);

        &:focus {
          border-image-slice: 1;
          border-image-source: linear-gradient(
            to right,
            var(--color-input-border),
            var(--color-input-border-active) 5%
          );
        }
      }
    }
  }
}

// form buttons are black by default
form {
  [type='button'],
  [type='submit'] {
    &.button--inverse {
      &:not(:hover) {
        background-color: transparent;
      }

      &:hover {
        background-color: var(--color-button-background);
      }
    }
  }
}

fieldset-section {
  input-submit {
    input {
      &:focus {
        border-color: var(--color-input-border-active);
      }
      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
      }
    }

    input[type='email'],
    input[type='text'] {
      &:not(:focus) {
        border-color: var(--color-input-border);
      }
    }

    .button,
    // specificity needed because of @lbry/component rules
    // @lbry/componentfixme
    .button[type='submit']:not(:hover) {
      border-color: var(--color-link);
      opacity: 1;
    }

    .button:hover,
    .button:not(:hover) {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }

  select {
    max-width: 12em;
    background-position: 95% center;
    background-size: 1.2rem;
    color: var(--color-text);
  }
}

.form-field--copyable {
  background-color: var(--color-input-background-copyable);
  padding: 0.2rem 0.75rem;
  text-overflow: ellipsis;
  user-select: text;
  cursor: default;
}

.form-field__help {
  @extend .help;
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-large);
}

.form-field--short {
  width: 25em;
}

.form-field--price-amount {
  width: 7em;
}

.form-field--address {
  min-width: 18em;
}
